/***
Customized Progress Bars
***/
.progress {
  border: 0;
  background-image: none;
  filter: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.progress.progress-sm {
  height: 12px;
}

.progress > .progress-bar-default {
  background-color: #c6c6c6;
}
.progress-striped .progress > .progress-bar-default {
  background-image: none;
  background-image: none;
}

.progress > .progress-bar-success {
  background-color: #45B6AF;
}
.progress-striped .progress > .progress-bar-success {
  background-image: none;
  background-image: none;
}

.progress > .progress-bar-info {
  background-color: #89C4F4;
}
.progress-striped .progress > .progress-bar-info {
  background-image: none;
  background-image: none;
}

.progress > .progress-bar-danger {
  background-color: #F3565D;
}
.progress-striped .progress > .progress-bar-danger {
  background-image: none;
  background-image: none;
}

.progress > .progress-bar-warning {
  background-color: #dfba49;
}
.progress-striped .progress > .progress-bar-warning {
  background-image: none;
  background-image: none;
}

.progress{
	margin-bottom :2px !important;
	margin-top:5px;
}
.password-verdict{
	color:#FA8258 !important;
}
#password_strength-error{
	width: 100% !important;
}