@CHARSET "UTF-8";

.alerts-documents {
	width: 100%;
	color: #656565;
}

.alerts-documents h3 {
	text-shadow: #bbbbbb 0.2em 0.2em 0.4em;
}

.alerts-documents b {
	font-weight: bold;
}

.alerts-documents p {
	margin-bottom: 5px;
	font-size: 14px;
}

.alerts-documents .document {
	/* 	padding: 1% 2%; */
	border: 1px dotted #d8d8d8;
}

.document-header {
	background-color: #F3F3F3;
	padding: 5px 20px;
	border-bottom: 1px dotted #d8d8d8;
}

.document-header .document-header-left {
	display: inline-block;
	width: 75%;
	vertical-align: top;
}

.document-header .document-header-right {
	display: inline-block;
	width: 24.7%;
}

.document-header-right .compass-entity-top-logo {
	padding: 0px;
}

.document-body {
	padding: 5px 20px;
}

.document-location-info, .document-person-info {
	height: 110px;
	position: relative;
	display: block;
	vertical-align: top;
}

.document-location-info  .icon-container, .document-person-info  .icon-container
	{
	background: #ccc;
	display: block;
	height: 100%;
	width: 40px;
	float: right;
	vertical-align: middle;
	padding: 0 10px;
	position: absolute;
	top: 0;
	right: 0;
}

.document-location-info, .document-person-info {
	border: 1px solid #CCC;
}

.document-location-info .location-icon {
	width: 20px;
	height: 28px;
	display: block;
	margin: 10px 0;
}

.document-location-info .avatar-details, .document-person-info .avatar-details
	{
	padding: 2%;
	margin-right: 40px;
	display: block;
	overflow: hidden;
}

.document-person-info .person-icon {
	width: 25px;
	height: 28px;
	margin: 10px 0;
	display: block;
}

.document-location-info .location-icon {
	background-position: -790px -114px;
}

.document-person-info .person-icon {
	background-position: -755px -114px;
}

.document-summary, .document-location-info, .document-person-info {
	margin-bottom: 10px;
}

.document-summary .document-summary-score {
	display: inline-block;
	width: 100px;
	height: 110px;
	font-size: 66px;
	line-height: 100px;
	border: 1px solid #d7d7d7;
	text-align: center;
	line-height: 100px;
	background-image: linear-gradient(#FFFFFF, #EEEEEE);
}

.document-summary .document-summary-info {
	display: inline-block;
	height: 110px;
	padding: 0px 10px;
	vertical-align: bottom;
}

.document-summary-info .source-name {
	font-size: 16px;
	font-weight: bold;
}

.document-content .survey-content .answer {
	/* 	font-weight: bold; */
	font-style: italic;
	color: #000;
}

.survey-responses li.odd {
	background-color: #F9F9F9;
}

.survey-responses li.even {
	background-color: #FCFCFC;
}

.cite {
	font-size: 0.75em;
	text-align: right;
	font-style: italic;
}

.document-detail-info .document-content {
	text-align: justify;
	padding: 5px 20px;
}

.document-detail-info-header h4 {
	width: 75%;
	display: inline-block;
}

.document-detail-info-header span.dated-on {
	display: inline-block;
	text-align: right;
	width: 24%;
}

.document-insight span.value {
	font-weight: bold;
}

.document-insight-ul {
	list-style-type: decimal;
	padding-left: 20px;
	list-style-position: inside;
}

.document-insight-ul li {
	padding: 5px 2px;
	border-bottom: 1px solid #eee;
}

.document-insight-ul li.odd {
	background-color: #F9F9F9;
}

.document-insight-ul li.even {
	background-color: #FCFCFC;
}

.document-insight .sentiment-items>span {
	padding-right: 10px;
}

.disclaimer-wrapper {
	padding: 5px 20px;
}