 .validation
    {
      	color: red !important;
      	margin-top: 0px;
      	clear:both;
        float: left;
    	margin-left: 182px;
    }
    
    
.form-control, output {
    color: #444;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
}

.search_client_form{ height:20px;}

.search_client_form .form-group{ margin:0px;}
.search_client_form .form-horizontal .control-label {text-align: left; width:5%;  margin-left:-15px; margin-right:5px;}
.client_select {
	 margin-top:5px;
    width: 50%;
    font-weight:bold !important;
}
.seach_client_drop{width:50%;}
.control-label{font-weight:bold !important;font-size: 13px;}

.select2-choice{ font-weight:normal;}
.searchdropdown{margin-bottom:5px;}
#ftpaccess-form .col-sm-2.control-label {
    margin-left: 10px;
}
.new_sub{ margin-left:215px;}
.form-control .select2-choice {
   
    height: 29px !important;
    padding: 1px 0 0 12px;
    
}



@media(max-width:767px){
	
		
	.search_client_form .form-horizontal .control-label {text-align: left; width:10%; margin-left:-15px; margin-right:5px;}
.client_select {
	 margin-top:5px;
    width: 100%;
    font-weight:bold !important;
    margin-left:0px;
}
.seach_client_drop{width:100%;}
.add-ftpaccess{margin-top:5px}
.new_sub{ margin-left:0px;}
}
@media(min-width:768px){
			
	.search_client_form .form-horizontal .control-label {text-align: left; width:10%;  margin-left:-15px; margin-right:5px;}
.client_select {
	 margin-top:5px;
    width: 80%;
    font-weight:bold !important;
    margin-left:0px;
}
.seach_client_drop{width:80%;}

.new_sub{ margin-left:0px;}	
}
@media(min-width:992px){
	client_select {
	 margin-top:5px;
    width: 50%;
    font-weight:bold !important;
    margin-left:0px;
}
.seach_client_drop{width:50%;}
	
	.new_sub{ margin-left:221px;}
	.search_client_form .form-horizontal .control-label {text-align: left; width:10%;  margin-left:-15px; margin-right:5px;}
}
@media(min-width:1200px){
	client_select {
	 margin-top:5px;
    width: 50%;
    font-weight:bold !important;
    margin-left:0px;
  }
.seach_client_drop{width:50%;}
.new_sub{ margin-left:215px;margin-top: 20px;}
	
 .search_client_form .form-horizontal .control-label {text-align: left; width:10%;  margin-left:-15px; margin-right:5px;}
}
.demo td { font-size: 12px;}
.inactive{color:#939393;margin-right:8px;}
.inactive:hover{color:#545454;}
.active-users{color:#008000;margin-right:8px;}
.active-users:hover{color:#007300;}

.button.disabled {
  opacity: 0.65; 
  cursor: not-allowed;
}

#tableftp tbody td:nth-child(2)
{
    word-wrap:break-word !important;
}

.refreshbtn.btn-sm.round{
	border-radius: 20px;
}

.button_class{margin-top:100px;float:right;padding-left:400px !important;}

.BSR_title{ border-bottom: 1px solid #efefef; margin-bottom:10px; font-weight:600; font-size:13px;}
.ftp_title{ border-bottom: 1px solid #efefef;margin-bottom:10px;}
.checkbox-inline, .radio-inline{cursor: pointer;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 0;
    padding-left: 0px;
    position: relative;}
    .form-horizontal .generate_link .radio-inline{margin-bottom: 0;
    margin-top: 0;
    padding-right: 20px;
    padding-top: 7px; padding-left: 0px;}
    .btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.11;}
    
    .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
    margin-left: 0;
    position: relative;
}

.products_diff{margin-bottom:5px;}

.helps-block {
    color: #000;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}
.col-md-4.field_display {
    margin-top: 6px;
}
.refresh_manual{margin-left:15px;}
.btn.btn-popup-blue.refresh-btn {
    margin: 5px;
}
.col-md-12.rcontrol label, .radio-inline {
    margin-left: 0 !important;
}

.col-md-10.rfcontrol label, .radio-inline {
    margin-right: 5px !important;
}
input::-ms-clear, input::-ms-reveal {
	display: none; /* For ie10+ */
}