.ui-timepicker-div .ui-widget-header {
	margin-bottom: 8px;
}

.ui-timepicker-div dl {
	text-align: left;
}

.ui-timepicker-div dl dt {
	height: 25px;
	margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
	margin: 0 10px 10px 65px;
}

.ui-timepicker-div td {
	font-size: 90%;
}

.ui-tpicker-grid-label {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

.ui-timepicker-rtl {
	direction: rtl;
}

.ui-timepicker-rtl dl {
	text-align: right;
}

.ui-timepicker-rtl dl dd {
	margin: 0 65px 10px 10px;
}

#event-calendar-list .fc-view-basicWeek table.fc-border-separate tbody,
	#event-calendar-list .fc-view-agendaWeek table.fc-border-separate tbody
	{
	display: none;
}

#event-calendar-list .fc-view-basicWeek div {
	display: none;
}

#event-calendar-list .fc-view-basicWeek tr.event-types div {
	display: block;
}

.current-list-events .per-day {
	padding: 5px 10px;
	border-bottom: 1px solid #ddd;
}

.current-list-events .per-day table {
	border: none;
	margin: 5px 0;
}

.current-list-events .per-day table td div.desc {
	color: #CCCCCC;
}

.sticky {
	position: fixed;
	top: 250px;
}

.event-loader {
	background-image: url("images/ajax-loader.gif");
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	margin: 0 auto;
	display: block;
}

tr.event-types td {
	text-align: left;
	padding-left: 1%;
	color: #666;
}

.fc-border-separate tr th {
	text-align: center;
	padding-left: 1%;
}

.tiny-calendar .ui-datepicker {
	width: 15em;
}

.tiny-calendar .ui-datepicker th {
	padding: .2em .1em;
	font-size: 11px;
	font-weight: bold;
}

.tiny-calendar .ui-datepicker td {
	font-size: 10px;
}

.tiny-calendar .ui-datepicker td.has-events {
	background: #47aabd;
}

.tiny-calendar .ui-datepicker td.has-events a {
	background: #47aabd;
}

.highlighted-week a.ui-state-default {
	background: #FFFFFF;
	border: 1px solid #AAAAAA;
	color: #212121;
	font-weight: normal
}

.tiny-calendar .ui-datepicker td a {
	text-align: center;
	padding: .05em;
	color: #333;
}

#calendar-links {
	margin: 10px 0;
}

table th.fc-day-header {
	background-image: none;
	height: 30px;
	line-height: 30px;
}

.fc-border-separate th, .fc-border-separate td {
	/* 	border-width: 0px; */
	
}

.event-types {
	height: 110px;
}

.fc-content table, .fc-content th, .fc-content td {
	/* 	border: 1px solid #DDDDDD; */
	
}

.fc-header .fc-header-center {
	text-align: left;
	width: 55px;
	float: left;
}

.fc-header .fc-header-left {
	width: 45px;
	float: left;
}

.fc-header td {
	vertical-align: middle;
	padding-bottom: 7px;
}

td.fc-header-right {
	text-align: left;
	float: left;
	width: 75%;
}

.fc-header .fc-button {
	margin-bottom: 0px;
}

.current-list-events h3 {
	color: #fd7e0d;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 23px
}

.fc-grid th {
	vertical-align: middle;
}

table.fc-border-separate {
	border-collapse: collapse;
}

.campaign-lisitngs {
	font-size: 15px;
	color: #666;
}

.nav-tabs {
	margin-bottom: 0;
}

.exclude-type-wrapper label {
	line-height: 29px;
}

.exclude-type-wrapper label .radio {
	line-height: 26px;
}

.add_more i, .remove i {
	font-size: 20px;
}

.add_more, .remove {
	line-height: 33px;
}

.tiny-calendar select, .ui-datepicker select {
	color: #333;
}

.manual_row select.select2 {
	width: 100%;
	min-width: 250px;
}

.campaign-list tr td a.more-link {
	font-size: 15px;
	color: #58585a;
	font-weight: 600;
	padding-top: 3px;
	line-height: 22px;
}

.campaign-list tr td a.more-link span.name {
	
}

.campaign-list tr td a.more-link:hover {
	text-decoration: none;
}

.campaign-list tr td span.extra-info {
	display: block;
	line-height: 15px;
	font-size: 13px;
	margin-top: 5px;
}

.campaign-list tr td span.date {
	margin-right: 12px;
	font-weight: normal;
}

.campaign-list tr td span.type {
	font-size: 11px !important;
	text-transform: capitalize;
	padding: 3px 6px;
	font-weight: 300;
}

.campaign-list table tr td span.extra-info i {
	margin-right: 10px;
}